<h2>Welcome to the Task Manager<small></br>Manage the Sh*t Out of Your Tasks</small></h3>

  <div class="list-group">
    <a href="/tasks" class="list-group-item">
      <h4 class="list-group-item-heading">Task Index</h4>
      <p class="list-group-item-text">A list of all the stuff you need to do which you will never finish.</p>
    </a>
    <a href="/tasks/new" class="list-group-item">
      <h4 class="list-group-item-heading">New Task</h4>
      <p class="list-group-item-text">Add a new task and description to your endless list of stuff to do.</p>
    </a>
  </div>