<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <title>My Sinatra Application</title>
</head>
<body>

  <div class='container'>
    <div class='row well'>
      <div class='col-md-6'>
        <%= yield %>
      </div>
      <div class='col-md-4'>
        <img class="img-responsive img-rounded" style="width: 350px;" src="http://img4.wikia.nocookie.net/__cb20130705004239/scratchpad/images/d/da/Angry_Thomas_in_'Thomas_and_the_Guard'_says_WHERE_IS...Wreck-It_Ralph_WHERRREEEE_by_seen_of_Jakedp100.png" alt='Angry Thomas'>
      </div>
      <div>
        <p class='text-center'><h4 class=' col-md-2'>The HELL I can!</br>The HELL I can!</br>The HELL I can!</h4></p>
      </div>
    </div>
  </div>
</body>
</html>